@model LMYFrameWorkMVC.Common.Models.Common.BaseModel
@using LMYFrameWorkMVC.Web.CommonCode
@using Microsoft.AspNet.Identity;
@using MvcSiteMapProvider.Web.Html.Models

<!DOCTYPE html>
<html @( LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "dir=rtl" : "" )>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -@Resources.Resources.SiteTitle</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />

    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/jquery.min.js" type="text/javascript"></script>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/assets/metronic_v4.5.2/customFix/fonts.css" rel="stylesheet" />
    <link href="~/assets/metronic_v4.5.2/theme/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/metronic_v4.5.2/theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "theme_rtl" : "theme")/assets/global/plugins/bootstrap/css/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "bootstrap-rtl.min.css" : "bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/assets/metronic_v4.5.2/theme/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "theme_rtl" : "theme")/assets/global/plugins/bootstrap-switch/css/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "bootstrap-switch-rtl.min.css" : "bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "theme_rtl" : "theme")/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "theme_rtl" : "theme")/assets/global/plugins/datatables/plugins/bootstrap/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "datatables.bootstrap-rtl.css" : "datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "theme_rtl" : "theme")/assets/global/css/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "components-rtl.min.css" : "components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "theme_rtl" : "theme")/assets/global/css/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "plugins-rtl.min.css" : "plugins.min.css")" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->

    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "theme_rtl" : "theme")/assets/layouts/layout/css/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "layout-rtl.min.css" : "layout.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "theme_rtl" : "theme")/assets/layouts/layout/css/themes/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "darkblue-rtl.min.css" : "darkblue.min.css")" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "theme_rtl" : "theme")/assets/layouts/layout/css/@(LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL ? "custom-rtl.min.css" : "custom.min.css")" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link href="~/assets/metronic_v4.5.2/theme_rtl/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/metronic_v4.5.2/theme/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/metronic_v4.5.2/theme/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />


    <link href="~/assets/metronic_v4.5.2/customTheme/customtheme.css" rel="stylesheet" type="text/css" />
    @if (LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL)
    {
    <link href="~/assets/metronic_v4.5.2/customTheme/customtheme.rtl.css" rel="stylesheet" type="text/css" />
    }

    @RenderSection("HeadCss", false)

    <link href="~/assets/metronic_v4.5.2/customFix/custom.css" rel="stylesheet" type="text/css" />
    @if (LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL)
    {
    <link href="~/assets/metronic_v4.5.2/customFix/custom.rtl.css" rel="stylesheet" type="text/css" />
    }


    <noscript>
        <style>
            html {
                display: none;
            }
        </style>
        <meta http-equiv="refresh" content="0.0;url=@Url.Action("JavaScript", "Shared")">
    </noscript>

    <link rel="shortcut icon" href="@Url.Action("GetImage", "Common", new {Area="Common", imageShortPath = LMYFrameWorkMVC.Common.Helpers.Utilites.GetSettingValue(LMYFrameWorkMVC.Common.LookUps.SettingsKeys.FavIcon) })" />



</head>
<body id="body" class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">

    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Action("GetImage", "Common", new {Area="Common" ,imageShortPath = LMYFrameWorkMVC.Common.Helpers.Utilites.GetSettingValue(LMYFrameWorkMVC.Common.LookUps.SettingsKeys.Logo), width = 120, height = 20 })" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler"> </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    @if (User.HasAccessToNode(Url.Action("index", "message")))
                    {
                    <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                        <a href="javascript:;" class="dropdown-toggle" id="header_inbox_bar_viewMessages" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-envelope-open"></i>
                            <span class="badge badge-default" id="header_inbox_bar_count1"> 0 </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3>
                                    @Resources.Resources.YouHave
                                    <span class="bold" id="header_inbox_bar_count2"> 0 </span> @Resources.Resources.NewMessages
                                </h3>
                                <a href="@Url.Action("Index", "Message")">@Resources.Resources.ViewAll</a>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list" id="header_inbox_bar_usersLastMessages" data-blockuiheight="275px" data-blockuiwidth="273px" data-height="275px" data-handle-color="#637283"></ul>
                            </li>
                        </ul>
                    </li>
                    }
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">



                            @*<li class="divider"> </li>*@
                            <li>
                                <a href="@Url.Action("ChangeLanguage", "Common", new { Area="Common",lang = Resources.Resources.OtherLang, returnUrl = Request.RawUrl })">
                                    <i class="fa fa-exchange"></i> @Resources.Resources.ChangeLanguage
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("LogOff", "Account")">
                                    <i class="fa fa-sign-out"></i> @Resources.Resources.LogOut
                                </a>
                            </li>


                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->

                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        @Html.Partial("~/Areas/Admin/Views/Shared/_SideBar.cshtml", MvcSiteMapProvider.SiteMaps.Current.RootNode)

        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->
                <!-- BEGIN PAGE BAR -->
                @*@Html.MvcSiteMap().SiteMapPath("BreadCrumb")*@
                @Html.Partial("~/Areas/Common/Views/Shared/_BreadCrumb.cshtml", MvcSiteMapProvider.SiteMaps.Current.RootNode)
                <!-- END PAGE BAR -->
                <!-- BEGIN PAGE TITLE-->
                <h3 class="page-title"></h3>
                <!-- END PAGE TITLE-->
                <!-- END PAGE HEADER-->

                <div class="row">
                    @RenderBody()
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            @Resources.Resources.FooterText.Replace("{year}", DateTime.Now.Year.ToString())
            @*<a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>*@
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    @if (Request.UserAgent.Contains("MSIE 9.0"))
    {
    <script src="~/assets/global/plugins/respond.min.js"></script>
    <script src="~/assets/global/plugins/excanvas.min.js"></script>
    }

    <![endif]-->
    @*@Html.MvcSiteMap().SiteMap.node.Menu(false, true, false)*@

    @*@Html.MvcSiteMap().Menu("SideBar")*@
    @*@if (Model != null)
    {
    foreach (Common.Models.Error error in Model.ErrorsList.Where(x => x.ErrorType == Common.LookUps.ErrorType.Critical))
    {
    <ul>
    <li> @error.Message</li>
    </ul>
    //hide main div
    }
    }*@
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

    @*<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>

    <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    <li> <a href="@Url.Action("ChangeLanguage", "Common", new { lang = Resources.LanguageCode, returnUrl = Request.RawUrl })">@Resources.LanguageName</a></li>
    </ul>
    @Html.Partial("_LoginPartial")
    </div>
    </div>
    </div>
    <div class="container body-content">



    <hr />
    <footer>
    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    </div>*@

    <!-- BEGIN CORE PLUGINS -->
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/assets/metronic_v4.5.2/theme/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->

    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/datatables/datatables.all.min.js"></script>

    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
    <script src="~/assets/plugins/DataTables-1.10.12/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/DataTables-1.10.12/extensions/Responsive/js/responsive.bootstrap.min.js"></script>
    <script src="~/assets/plugins/DataTables-1.10.12/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/DataTables-1.10.12/extensions/Buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/DataTables-1.10.12/extensions/Buttons/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/DataTables-1.10.12/extensions/Buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/DataTables-1.10.12/extensions/Buttons/js/buttons.flash.min.js"></script>

    <script src="~/assets/metronic_v4.5.2/theme_rtl/assets/global/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/dropzone/dropzone.min.js" type="text/javascript"></script>

    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    @Html.Partial("~/Areas/Common/Views/Shared/_LMYFrameWork.cshtml")

    @RenderSection("FooterJS", false)

    <script type="text/javascript">
          @if(ViewBag.AlertOnExit==true)
          {
              <text>
          $(document).ready(function () {
              LMYFrameWork.CommonMethods.alertOnExit(true);
          });
              </text>
          }

    </script>
</body>
</html>
