@model MvcSiteMapProvider.ISiteMapNode
@using System.Web.Mvc.Html
@using LMYFrameWorkMVC.Web.CommonCode

@using MvcSiteMapProvider.Web.Html.Models
@if (User.HasAccessToNode(Model))
{
    <li class="nav-item start  @(Model.ChildNodes.Any(x => x.IsInCurrentPath()) || Model.IsInCurrentPath() ? "active open" : "")">
        @if (Model.ChildNodes.Any())
        {
            <a href="javascript:;" class="nav-link nav-toggle ">
                <i class="@LMYFrameWorkMVC.Web.CommonCode.SiteMapHelper.Class(Model)"></i>
                <span class="title"> @Model.Title</span>

                <span class="arrow"></span>
            </a>

            <ul class="sub-menu">
                @*@if (Model.IsClickable)
                    {
                        <li class="nav-item start @(Model.IsCurrentNode ? " active open" : "")">
                            <a href="@Model.Url" class="nav-link">
                                <i class="@Model.Attributes["icon"]"></i>
                                <span class="title">@Model.Title</span>
                            </a>
                        </li>
                    }*@

                @foreach (MvcSiteMapProvider.ISiteMapNode childNode in Model.ChildNodes.Where(nodeChildren => LMYFrameWorkMVC.Web.CommonCode.SiteMapHelper.ShowInSideBar(nodeChildren)))
                {
                    if (childNode.ChildNodes.Any(x => LMYFrameWorkMVC.Web.CommonCode.SiteMapHelper.ShowInSideBar(x)))
                    {
                        @Html.Partial("~/Areas/Admin/Views/Shared/_SideBar_SubMenu.cshtml", childNode)
                    }
                    else
                    {
                        if (User.HasAccessToNode(childNode))
                        {
                            <li class="nav-item start @(childNode.IsInCurrentPath() ? " active open" : "")">
                                <a href="@childNode.Url" class="nav-link">
                                    <i class="@LMYFrameWorkMVC.Web.CommonCode.SiteMapHelper.Class(childNode)"></i>
                                    <span class="title">@childNode.Title</span>
                                </a>
                            </li>
                        }
                    }
                }
            </ul>
        }
        else if (Model.Clickable)
        {
            <a href="@Model.Url" class="nav-link nav-toggle">
                <i class="@LMYFrameWorkMVC.Web.CommonCode.SiteMapHelper.Class(Model)"></i>
                <span class="title">@Model.Title</span>
            </a>
        }
    </li>
}