@model LMYFrameWorkMVC.Common.Models.Modules.Admin.Administration.Company.CompanyModel

@{
    ViewBag.Title = Resources.SiteMapLocalizations.Edit + " " + Resources.SiteMapLocalizations.Company;
    ViewBag.modalID = Guid.NewGuid().ToString();
    Layout = "~/Areas/Admin/Views/Shared/_ModalLayout.cshtml";
}
<div id="alertsContainer">
    @Html.Partial("~/Areas/Admin/Views/Shared/_Alerts.cshtml", Model)
</div>
<div data-hassuccess="@Json.Encode(@Model.HasSuccess(LMYFrameWorkMVC.Common.LookUps.SuccessType.Full))" data-hidemodal="false"></div>

@if (!Model.HasErrorByType(LMYFrameWorkMVC.Common.LookUps.ErrorType.Critical))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                @*<div class="portlet-title">
                        <div class="caption font-dark">

                            <span class="caption-subject bold uppercase">@Resources.Resources.Create</span>
                        </div>

                        <div>
                            <div class="btn-group pull-right tools" id="#tools">


                            </div>
                        </div>
                    </div>*@
                <div class="portlet-body">

                    @using (Html.BeginForm(null, null, new { }, FormMethod.Post, new { data_ajaxSubmit = "true" }))
                {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.Notes, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group ">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resources.Close</button>
                                        <input type="submit" value="@Resources.Resources.Save" class="btn btn-info" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
}
