@model LMYFrameWorkMVC.Common.Models.Modules.Admin.Administration.User.UserModel
@using LMYFrameWorkMVC.Web.CommonCode
@{
    ViewBag.Title = Resources.SiteMapLocalizations.UsersList;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="alertsContainer">
    @Html.Partial("~/Areas/Admin/Views/Shared/_Alerts.cshtml", Model)
</div>

<div class="col-md-12" id="container">

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-dark">

                <span class="caption-subject bold uppercase">@Resources.SiteMapLocalizations.UsersList</span>
            </div>

            <div>
                <div class="btn-group pull-right" id="tools">
                    @if (User.HasAccessToNode(Url.Action("UsersList-Create", "User")))
                    {
                        <a class="dt-button btn blue btn-outline" href="@Url.Action("UsersList-Create", "User")">@Resources.Resources.Create</a>
                    }
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover table-checkable order-column dt-responsive" width="100%" id="dynamic-table">
                <thead>
                    <tr>
                        <th width="20%">@Html.DisplayNameFor(model => model.UserName) </th>
                        <th width="20%">@Html.DisplayNameFor(model => model.Name)  </th>
                        <th width="20%">@Html.DisplayNameFor(model => model.Email)</th>
                        <th width="15%">@Html.DisplayNameFor(model => model.PhoneNumber) </th>
                        <th width="10%">@Resources.Resources.Roles </th>
                        <th width="20%">@Resources.Resources.Actions</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        //initiate dataTables plugin
        var dataTableWrapper = new LMYFrameWork.DataTableWrapper();

        dataTableWrapper.initServerSide({
            buttonsContainer: "#tools",
            container: "#container",
            alertsContainer: "#alertsContainer",
            url: '@Url.Action("GetUsers","User")',
            table: '#dynamic-table',
            //for custom search parameters
            data: function (d) {
                return $.extend({}, d, {
                    "CustomSearchObject": null
                });
            },
            renderComplete: function () {
                $('.modalSuccess').on('success', function () {
                    dataTableWrapper.refreshTable('#dynamic-table');
                });
            },
            @*customButtons: [
                @if (User.HasAccessToNode(Url.Action("Create", "User")))
                {
                    <text>
                       {
                           className: 'btn blue btn-outline', text: "@Resources.Resources.Create",
                           action: function (e, dt, node, config) {
                               location.href = "@Url.Action("Create","User")";
                           }
                       }
                    </text>
                 }
            ],*@
            order: [[0, 'asc']],
            columns:
               [
                { "data": "UserName" },
                { "data": "Name" },
                { "data": "Email" },
                { "data": "PhoneNumber" },
                {
                    "data": "AspNetRolesListItems",
                    sortable: false,
                    "render": function (data, type, row) {
                        returnData = ' ';
                        for (i = 0; i < data.length; i++) {
                            if (data[i].Selected)
                                returnData = returnData + data[i].Text + ', ';
                        }

                        return returnData;
                    }
                },
                {
                    "data": "Id",
                    exportable: false,
                    sortable: false,
                    "render": function (data, type, row) {

                        var edit = '', deleteurl = '',changePasswordurl='';
                        @if (User.HasAccessToNode(Url.Action("Edit", "User")))
                        {
                            <text>
                        edit = "<a href='@Url.Action("Edit", "User")/" + data + "' data-toggle='tooltip' title ='@Resources.Resources.Edit'><i class='fa fa-edit btn btn-xs green' ></i></a>"
                        </text>
                        }

                        @if (User.HasAccessToNode(Url.Action("Delete", "User")))
                        {
                            <text>
                        deleteurl = "<a class='modalSuccess'  href='@Url.Action("Delete","User")/" + data + "' data-modal='' data-modalContainer='#container' data-alertsContainer='#alertsContainer'  data-toggle='tooltip' title ='@Resources.Resources.Delete'><i class='fa fa-close btn btn-xs red' ></i></a>";
                        </text>
                        }

                            @if (User.HasAccessToNode(Url.Action("ChangePassword", "User")))
                        {
                            <text>
                        changePasswordurl = "<a class='modalSuccess'  href='@Url.Action("ChangePassword","User")/" + data + "' data-toggle='tooltip' title ='@Resources.Resources.ChangePassword'><i class='fa fa-key btn btn-xs yellow' ></i></a>";
                        </text>
                        }

                        return "<div class='btn-group'>" + changePasswordurl+ edit + deleteurl + "</div>";
                    },
                }
               ],
        }
    );
    });
</script>
