@{
    ViewBag.Title = "Index";
    Layout = null;
}
<html @( LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "dir=rtl" : "")>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -@Resources.Resources.SiteTitle</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />

    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/jquery.min.js" type="text/javascript"></script>

    @if (Culture.Split('-')[0] == "en")
    {
        <script src="~/assets/lmy/Resources/Resources.js" type="text/javascript"></script>
    }
    else
    {
        <script src="~/assets/lmy/Resources/Resources.@(Culture.Split('-')[0]).js" type="text/javascript"></script>
    }

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/assets/metronic_v4.5.2/customFix/fonts.css" rel="stylesheet" />
    <link href="~/assets/metronic_v4.5.2/theme/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/metronic_v4.5.2/theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "theme_rtl" : "theme")/assets/global/plugins/bootstrap/css/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "bootstrap-rtl.min.css" : "bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/assets/metronic_v4.5.2/theme/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "theme_rtl" : "theme")/assets/global/plugins/bootstrap-switch/css/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "bootstrap-switch-rtl.min.css" : "bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "theme_rtl" : "theme")/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "theme_rtl" : "theme")/assets/global/plugins/datatables/plugins/bootstrap/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "datatables.bootstrap-rtl.css" : "datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "theme_rtl" : "theme")/assets/global/css/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "components-rtl.min.css" : "components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "theme_rtl" : "theme")/assets/global/css/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "plugins-rtl.min.css" : "plugins.min.css")" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->

    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "theme_rtl" : "theme")/assets/layouts/layout/css/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "layout-rtl.min.css" : "layout.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "theme_rtl" : "theme")/assets/layouts/layout/css/themes/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "darkblue-rtl.min.css" : "darkblue.min.css")" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/metronic_v4.5.2/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "theme_rtl" : "theme")/assets/layouts/layout/css/@(LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL ? "custom-rtl.min.css" : "custom.min.css")" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link href="~/assets/metronic_v4.5.2/theme_rtl/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/metronic_v4.5.2/theme/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />


    @if (LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL)
    {
        <link href="~/assets/metronic_v4.5.2/customFix/custom.rtl.css" rel="stylesheet" type="text/css" />
    }

    <link href="~/assets/metronic_v4.5.2/customFix/custom.css" rel="stylesheet" type="text/css" />
    <style>
        .page-content {
            margin-left: 0px !important;
        }
    </style>
    <noscript>
        <style>
            html {
                display: none;
            }
        </style>
        <meta http-equiv="refresh" content="0.0;url=@Url.Action("JavaScript", "Shared")">
    </noscript>

    <link rel="shortcut icon" href="favicon.ico" />

    <script type="text/javascript">
        if (typeof LMYFrameWork == "undefined")
            var LMYFrameWork = {};

        LMYFrameWork.Constants={
            FullDateFormat: '@LMYFrameWorkMVC.Common.Helpers.Utilites.GetSettingValue(LMYFrameWorkMVC.Common.LookUps.SettingsKeys.FullDateFormat)',
            TimeFormat : '@LMYFrameWorkMVC.Common.Helpers.Utilites.GetSettingValue(LMYFrameWorkMVC.Common.LookUps.SettingsKeys.TimeFormat)',
            DateFormat : '@LMYFrameWorkMVC.Common.Helpers.Utilites.GetSettingValue(LMYFrameWorkMVC.Common.LookUps.SettingsKeys.DateFormat)',
            IsRTL:@LMYFrameWorkMVC.Web.CommonCode.Utilities.IsRTL.ToString().ToLower(),
            DeleteMessage:'@Resources.Resources.DeleteMessage',
            alertsContainer:'alertsContainer',
            jsonType:'json',
            htmlType:'html',
        }

        $(document).ready(function(){
            LMYFrameWork.Common.init('body');
        });

    </script>

</head>
<body id="body" class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">

    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Action("GetImage", "Common", new { imageShortPath = LMYFrameWorkMVC.Common.Helpers.Utilites.GetSettingValue(LMYFrameWorkMVC.Common.LookUps.SettingsKeys.Logo), width = 120, height = 20 })" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler"> </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">



                            @*<li class="divider"> </li>*@
                            <li>
                                <a href="@Url.Action("ChangeLanguage", "Common", new { lang = Resources.Resources.OtherLang, returnUrl = Request.RawUrl })">
                                    <i class="fa fa-exchange"></i> @Resources.Resources.ChangeLanguage
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("LogOff", "Account")">
                                    <i class="fa fa-sign-out"></i> @Resources.Resources.LogOut
                                </a>
                            </li>


                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->

                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content" style="margin-left:0px">
                <!-- BEGIN PAGE HEADER-->
                <!-- BEGIN PAGE BAR -->
                @*@Html.MvcSiteMap().SiteMapPath("BreadCrumb")*@

                <!-- END PAGE BAR -->
                <!-- BEGIN PAGE TITLE-->
                <h3 class="page-title"></h3>
                <!-- END PAGE TITLE-->
                <!-- END PAGE HEADER-->


                <div class="row">

                    <div class="portlet light bordered">
                      
                        <div class="portlet-body">
                            <div class="well well-lg">
                                <h4 class="block">7th grade - A</h4>
                                <p> Class Teacher - Ahmad Ali </p>
                            </div>
                         
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-green-sharp">
                                        <span data-counter="counterup" data-value="7800">30</span>
                                        <small class="font-green-sharp"> </small>
                                    </h3>
                                    <small>Students Count</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-pie-chart"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                                        <span class="sr-only">76% progress</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> progress </div>
                                    <div class="status-number"> 76% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-red-haze">
                                        <span data-counter="counterup" data-value="1349">2</span>
                                    </h3>
                                    <small>Absent Students For Today</small>
                                </div>
                                <div class="icon">
                                    <i class="icon-pie-chart"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 2%;" class="progress-bar progress-bar-success red-haze">
                                        <span class="sr-only">2% </span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> percentage </div>
                                    <div class="status-number"> 2% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-blue-sharp">
                                        <span data-counter="counterup" data-value="8">8</span>
                                    </h3>
                                    <small>Exams Taken until today</small>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-check"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 25%;" class="progress-bar progress-bar-success blue-sharp">
                                        <span class="sr-only">25% exams</span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> exams </div>
                                    <div class="status-number"> 25% </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat2 ">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-purple-soft">
                                        <span data-counter="counterup" data-value="276">40</span>
                                    </h3>
                                    <small>Home Works</small>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-sticky-note-o"></i>
                                </div>
                            </div>
                            <div class="progress-info">
                                <div class="progress">
                                    <span style="width: 0%;" class="progress-bar progress-bar-success purple-soft">
                                        <span class="sr-only"> </span>
                                    </span>
                                </div>
                                <div class="status">
                                    <div class="status-title"> </div>
                                    <div class="status-number"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- BEGIN PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption">
                                <i class="icon-globe font-dark hide"></i>
                                <span class="caption-subject font-dark bold uppercase">Feeds</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" class="active" data-toggle="tab"> data </a>
                                </li>
                             
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <!--BEGIN TABS-->
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 339px;">
                                        <div class="scroller" style="height: 339px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible="0" data-initialized="1">
                                            <ul class="feeds">
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-sm label-success">
                                                                    <i class="fa fa-bell-o"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc">
                                                                    english teacher Added home Work 
                                                                    <span class="label label-sm label-info">
                                                                        grammer
                                                                        <i class="fa fa-share"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> Just now </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-sm label-danger">
                                                                    <i class="fa fa-bolt"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> math teacher - Added exam </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 24 mins </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-sm label-info">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> sience teacher - Added exams marks </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 20 mins </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-sm label-success">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> 2 stuudents did not come to this class  </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 12-3  </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-sm label-warning">
                                                                    <i class="fa fa-plus"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> New student added to this class. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 13-2 </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-sm label-success">
                                                                    <i class="fa fa-bell-o"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc">
                                                                    math teacher Added home Work
                                                                    <span class="label label-sm label-info">
                                                                        equation to solve 
                                                                        <i class="fa fa-share"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 15-2 </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-sm label-danger">
                                                                    <i class="fa fa-bolt"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> sience teacher - Added exam </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 15-2 </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-sm label-info">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> english teacher - Added exams marks </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 17-2 </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-sm label-success">
                                                                    <i class="fa fa-bullhorn"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> 4 stuudents did not come to this class  </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 18-2  </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="col1">
                                                        <div class="cont">
                                                            <div class="cont-col1">
                                                                <div class="label label-sm label-warning">
                                                                    <i class="fa fa-plus"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc"> New student added to this class. </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date"> 1-1 </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div><div class="slimScrollBar" style="background: rgb(187, 187, 187) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 72px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 179.284px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
                                    </div>
                                </div>
                                
                            </div>
                            <!--END TABS-->
                        </div>
                    </div>
                    <!-- END PORTLET-->

                </div>


                <div class="row">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-comments"></i>Class Time Table
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                                <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                                <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-scrollable">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th> # </th>
                                            <th> sunday </th>
                                            <th> monday </th>
                                            <th> wednesday </th>
                                            <th> thursday </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="active">
                                            <td> 1 </td>
                                            <td> english </td>
                                            <td> arabic </td>
                                            <td> math </td>
                                            <td> sience </td>
                                        </tr>
                                        <tr class="success">
                                            <td> 2 </td>
                                            <td> arabic </td>
                                            <td> math </td>
                                            <td> cultures </td>
                                            <td> islamic culture </td>
                                        </tr>
                                        <tr class="warning">
                                            <td> 3 </td>
                                            <td> math </td>
                                            <td> math </td>
                                            <td> english </td>
                                            <td> languages </td>
                                        </tr>
                                        <tr class="danger">
                                            <td> 4 </td>
                                            <td> sience </td>
                                            <td> arabic </td>
                                            <td> languages </td>
                                            <td> - </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            @Resources.Resources.FooterText.Replace("{year}", DateTime.Now.Year.ToString())
            @*<a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>*@
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    @if (Request.UserAgent.Contains("MSIE 9.0"))
    {
        <script src="../assets/global/plugins/respond.min.js"></script>
        <script src="../assets/global/plugins/excanvas.min.js"></script>
    }

    <![endif]-->
    @*@Html.MvcSiteMap().SiteMap.node.Menu(false, true, false)*@

    @*@Html.MvcSiteMap().Menu("SideBar")*@
    @*@if (Model != null)
        {
        foreach (Common.Models.Error error in Model.ErrorsList.Where(x => x.ErrorType == Common.LookUps.ErrorType.Critical))
        {
        <ul>
        <li> @error.Message</li>
        </ul>
        //hide main div
        }
        }*@
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li> <a href="@Url.Action("ChangeLanguage", "Common", new { lang = Resources.LanguageCode, returnUrl = Request.RawUrl })">@Resources.LanguageName</a></li>
        </ul>
        @Html.Partial("_LoginPartial")
        </div>
        </div>
        </div>
        <div class="container body-content">



        <hr />
        <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
        </div>*@

    <!-- BEGIN CORE PLUGINS -->
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/assets/metronic_v4.5.2/theme/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/assets/metronic_v4.5.2/theme/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/assets/metronic_v4.5.2/theme/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->

    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/datatables/datatables.all.min.js"></script>

    <script src="~/assets/metronic_v4.5.2/theme/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
    <script src="~/assets/plugins/DataTables-1.10.12/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/DataTables-1.10.12/extensions/Responsive/js/responsive.bootstrap.min.js"></script>
    <script src="~/assets/plugins/DataTables-1.10.12/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/DataTables-1.10.12/extensions/Buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/DataTables-1.10.12/extensions/Buttons/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/DataTables-1.10.12/extensions/Buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/DataTables-1.10.12/extensions/Buttons/js/buttons.flash.min.js"></script>

    <script src="~/assets/metronic_v4.5.2/theme_rtl/assets/global/plugins/select2/js/select2.full.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script src="~/assets/plugins/moment/moment.js"></script>

    <script src="~/assets/lmy/Helpers/date.js"></script>
    <script src="~/assets/lmy/Wrappers/ajaxWrapper.js"></script>
    <script src="~/assets/lmy/Wrappers/clockPickerWrapper.js"></script>
    <script src="~/assets/lmy/Wrappers/dataTableWrapper.js"></script>
    <script src="~/assets/lmy/Wrappers/datePickerWrapper.js"></script>
    <script src="~/assets/lmy/Wrappers/maskWrapper.js"></script>
    <script src="~/assets/lmy/Wrappers/select2Wrapper.js"></script>
    <script src="~/assets/lmy/Wrappers/blockuiWrapper.js"></script>
    <script src="~/assets/lmy/Wrappers/modalWrapper.js"></script>
    <script src="~/assets/lmy/Wrappers/validationWrapper.js"></script>
    <script src="~/assets/lmy/common.js"></script>


</body>
</html>
