@model LMYFrameWorkMVC.Common.Models.Modules.Admin.Administration.User.ChangePasswordModel 
 
@{
    ViewBag.Title = Resources.Resources.ChangePassword;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}@if (!Model.HasErrorByType(LMYFrameWorkMVC.Common.LookUps.ErrorType.Critical))
{
    <div id="alertsContainer">
        @Html.Partial("~/Areas/Admin/Views/Shared/_Alerts.cshtml", Model)
    </div>

    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">

                    <span class="caption-subject bold uppercase">@Resources.Resources.ChangePassword    </span>
                </div>

                <div>
                    <div class="btn-group pull-right tools" id="#tools">


                    </div>
                </div>
            </div>
            <div class="portlet-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.Password, htmlAttributes : new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <input type="submit" value="@Resources.Resources.Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
