@model  LMYFrameWorkMVC.Common.Models.Modules.Admin.Administration.Role.SiteMapModel
@{
    bool isRoot = true;
    if (ViewData["IsRoote"] != null && !Convert.ToBoolean(ViewData["IsRoote"]))
    {
        isRoot = false;
    }

}

@if (isRoot)
{
    <script type="text/javascript">
 
        function checkBoxChange(element, CustomClick) {
            // to check childrens
            if (!CustomClick)
                $($($(element).parents('.checkboxList')[0])).find('input[type="checkbox"]').each(function () {
                    var checked = false;
                    if (element.id != this.id)
                        LMYFrameWork.CommonMethods.checkBootStrapCheckBox(this, element.checked);
                });
            else {
                var childCheckBoxes = $($($(element).parents('.checkboxList')[0])).find('input[type="checkbox"]').filter(function () {
                    return this.id != element.id
                });

                var hasCheckedChild;
                for (i = 0; i < childCheckBoxes.length; i++) {
                    if (childCheckBoxes[i].checked)
                        hasCheckedChild = true;
                }
                LMYFrameWork.CommonMethods.checkBootStrapCheckBox(element, hasCheckedChild);
            }

            //to check parents
            //$($($(element).parents('.checkboxList')[1]).find('.dd-handle')[0]).find('input[type="checkbox"]').each(function () {
            //    LMYFrameWork.CommonMethods.checkBootStrapCheckBox(this, element.checked);
            //    checkBoxChange(this, true);
            //});
        }
    </script>
}
<ol class="dd-list checkboxList">
    <li class="dd-item">
        <div class="dd-handle">
            @Html.HiddenFor(m => Model.Key)
            @Html.HiddenFor(m => Model.Title)
            @Html.CheckBoxFor(m => Model.Selected, new { @onchange = "checkBoxChange(this)" })
            @Model.Title
        </div>

        @for (int i = 0; i < Model.SiteMapModels.Count(); i++)
        {
            @Html.EditorFor(model => Model.SiteMapModels[i], "Administration/Roles/SiteMapModel", new { IsRoote = false })
        }
</ol>
@*</div>*@
