@model  LMYFrameWorkMVC.Common.Models.Modules.Admin.Administration.Role.SiteMapModel


<ol class="dd-list checkboxList">
    <li class="dd-item">
        <div class="dd-handle">
            @Html.HiddenFor(m => Model.Key)
            @Html.HiddenFor(m => Model.Title)
            @Html.CheckBoxFor(m => Model.Selected, new { disabled = "disabled" })
            @Model.Title
        </div>

        @for (int i = 0; i < Model.SiteMapModels.Count(); i++)
        {
            @Html.DisplayFor(model => Model.SiteMapModels[i], "Administration/Roles/SiteMapModel", new { IsRoote = false })
        }
</ol>
