@model LMYFrameWorkMVC.Common.Models.Modules.Admin.Administration.Driver.DriverModel

@{
    ViewBag.Title = Resources.SiteMapLocalizations.View + " " + Resources.SiteMapLocalizations.Driver;
    ViewBag.modalID = Guid.NewGuid().ToString();
    Layout = "~/Areas/Admin/Views/Shared/_ModalLayout.cshtml";
}
<div id="alertsContainer">
    @Html.Partial("~/Areas/Admin/Views/Shared/_Alerts.cshtml", Model)
</div>

@if (!Model.HasErrorByType(LMYFrameWorkMVC.Common.LookUps.ErrorType.Critical) && !Model.HasSuccess(LMYFrameWorkMVC.Common.LookUps.SuccessType.Full))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">

                <div class="portlet-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Name, new { @class = " form-control", @readonly = "readonly" })

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.StartDateString, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.StartDateString, new { @class = "form-control", @readonly = "readonly" })

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ContactNumber, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.ContactNumber, new { @class = " form-control", @readonly = "readonly" })

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @readonly = "readonly" })

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TruckModels, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <ul>
                                    @for (int i = 0; i < Model.TruckModels.Count; i++)
                                    {
                                        <li>
                                            @Html.HiddenFor(x => x.TruckModels[i])
                                            @Model.TruckModels[i].Name
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resources.Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}