<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/assets/plugins/moment/moment.js"></script>

<script src="~/assets/LMYFrameWork/Helpers/date.js"></script>
<script src="~/assets/LMYFrameWork/Helpers/empty.js"></script>
<script src="~/assets/LMYFrameWork/Helpers/json.js"></script>
<script src="~/assets/LMYFrameWork/Wrappers/commonWrapper.js"></script>
<script src="~/assets/LMYFrameWork/Wrappers/ajaxWrapper.js"></script>
<script src="~/assets/LMYFrameWork/Wrappers/clockPickerWrapper.js"></script>
<script src="~/assets/LMYFrameWork/Wrappers/dataTableWrapper.js"></script>
<script src="~/assets/LMYFrameWork/Wrappers/datePickerWrapper.js"></script>
<script src="~/assets/LMYFrameWork/Wrappers/maskWrapper.js"></script>
<script src="~/assets/LMYFrameWork/Wrappers/select2Wrapper.js"></script>
<script src="~/assets/LMYFrameWork/Wrappers/blockuiWrapper.js"></script>
<script src="~/assets/LMYFrameWork/Wrappers/modalWrapper.js"></script>
<script src="~/assets/LMYFrameWork/Wrappers/validationWrapper.js"></script>JqueryValidationWrapper
<script src="~/assets/LMYFrameWork/Wrappers/jqueryValidationWrapper.js"></script>
<script src="~/assets/LMYFrameWork/Wrappers/slimScrollWrapper.js"></script>
<script src="~/assets/LMYFrameWork/Wrappers/signalRWrapper.js"></script>
<script src="~/assets/LMYFrameWork/Wrappers/dropZoneWrapper.js"></script>
<script src="~/assets/LMYFrameWork/commonMethods.js"></script>
<script src="~/assets/LMYFrameWork/Extensions/string.js"></script>

@if (LMYFrameWorkMVC.Common.Helpers.Utilites.CurrentCulture.Split('-')[0] == "en")
{
    <script src="~/assets/LMYFrameWork/Resources/Resources.js" type="text/javascript"></script>
}
else
{
    <script src="~/assets/LMYFrameWork/Resources/Resources.@(LMYFrameWorkMVC.Common.Helpers.Utilites.CurrentCulture.Split('-')[0]).js" type="text/javascript"></script>
    <script src="~/assets/plugins/select2-4.0.3/dist/js/i18n/@(LMYFrameWorkMVC.Common.Helpers.Utilites.CurrentCulture.Split('-')[0]).js"></script>
}

<div class="lmypreLoad" style="z-index: 100000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(85, 85, 85); opacity: 0.1; cursor: wait; position: fixed;"></div>
<div class="lmypreLoad" style="z-index: 100011; position: absolute; padding: 0px; margin: 0px; width: 30%; top: 50%; text-align: center; color: rgb(0, 0, 0); border: 0px; cursor: wait; left: 532px;"><div class="loading-message "><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div> </div></div></div>

<script type="text/javascript">
        if (typeof LMYFrameWork == "undefined")
            var LMYFrameWork = {};

        LMYFrameWork.Constants={
            FullDateFormat: '@LMYFrameWorkMVC.Common.Helpers.Utilites.GetSettingValue(LMYFrameWorkMVC.Common.LookUps.SettingsKeys.FullDateFormat)',
            TimeFormat : '@LMYFrameWorkMVC.Common.Helpers.Utilites.GetSettingValue(LMYFrameWorkMVC.Common.LookUps.SettingsKeys.TimeFormat)',
            DateFormat : '@LMYFrameWorkMVC.Common.Helpers.Utilites.GetSettingValue(LMYFrameWorkMVC.Common.LookUps.SettingsKeys.DateFormat)',
            SingleQuoteReplacement : '@LMYFrameWorkMVC.Common.Helpers.Utilites.GetSettingValue(LMYFrameWorkMVC.Common.LookUps.SettingsKeys.SingleQuoteReplacement)',
            DoubleQuoteReplacement : '@LMYFrameWorkMVC.Common.Helpers.Utilites.GetSettingValue(LMYFrameWorkMVC.Common.LookUps.SettingsKeys.DoubleQuoteReplacement)',
            IsRTL:@LMYFrameWorkMVC.Common.Helpers.Utilites.IsRTL.ToString().ToLower(),
            DeleteMessage:'@Resources.Resources.DeleteMessage',
            //UserID:'@*@User.Identity.GetUserId()*@',
            jsonType:'json',
            htmlType:'html',
            ServerStringDateAtRender:'@DateTime.Now.ToString(LMYFrameWorkMVC.Common.Helpers.Utilites.GetSettingValue(LMYFrameWorkMVC.Common.LookUps.SettingsKeys.FullDateFormat))',
            ClientDateAtRender:new Date(),
            Language:"@(LMYFrameWorkMVC.Common.Helpers.Utilites.CurrentCulture.Split('-')[0] == "en" ? "ar" : LMYFrameWorkMVC.Common.Helpers.Utilites.CurrentCulture.Split('-')[0])",
     }

        $(document).ready(function () {
            var commonWrapper = new LMYFrameWork.CommonWrapper();

            commonWrapper.init('body');
            commonWrapper.initMessagesNotifications('@Url.Action("ListUsersWithLastMessageByCurrentUser", "Message")');
            LMYFrameWork.SignalRWrapper.init('@Session.SessionID');
            commonWrapper.initAutomaticLogOut('@Url.Action("LogOff", "Account")');

            LMYFrameWork.JqueryValidationWrapper.init(); 

            //remove preloader block after page initializations
            $('.lmypreLoad').remove();
        });

</script>